.portal{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navlinks a {
    text-decoration: none;
    border-bottom: none;
  }
  .navlinks a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(242, 194, 158) f;
    transform-origin: right;
    transition: transform 0.25s ease-out;
  }
  .navlinks a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .navlinks a.active {
    color: rgb(242, 194, 158);
    border-bottom: 2px solid rgb(242, 194, 158);
  }
  