.the-departments{
    margin-top: auto;
    margin-bottom: 100px;
    color: rgb(242, 194, 158);
    background-color: rgb(22, 22, 22);
}
.departments{
    column-count: 3;
    gap: 20px;
    column-rule-style: solid;
    column-rule-width: 3px;
  }
  .dept:hover{
    color: rgb(49, 106, 177);
    background-color: rgb(242, 194, 158);
    outline-color: rgb(49, 106, 177);
  }
  text {
    color: antiquewhite;
  }